pandas==1.5.3
numpy==1.24.2
scikit-learn==1.2.1
matplotlib==3.7.1
seaborn==0.12.2
contractions==0.1.73
nltk==3.8.1
gensim==4.3.0
textblob==0.17.1
pyspellchecker==0.7.1
wordcloud==1.8.2.2
jupyter==1.0.0
notebook==6.4.0
appmode==0.8.0
jupyter_nbextensions_configurator
jupyter_contrib_nbextensions
tornado==6.1
